<!DOCTYPE html>
<html lang="ko">

<head>
    <title>갤럭시 Z시리즈 구매 대상 우주패스 이벤트</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge"> <!-- IE 문서 모드 -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!--<meta name="author" content="">-->
    <meta name="keywords" content="SK텔레콤, 갤럭시, 갤럭시 Z시리즈, 갤럭시 폴더블, 갤럭시 Z 폴드3, 갤럭시 Z 플립3, 우주패스, T우주, 구독 서비스">
    <meta name="description" content="갤럭시 Z 폴드3, Z 플립3 구매하고 다양한 구독 혜택을 즐겨 보세요.">

    <!-- common meta tag -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="갤럭시 Z시리즈 구매 대상 우주패스 이벤트">
    <meta property="og:description" content="갤럭시 Z 폴드3, Z 플립3 구매하고 다양한 구독 혜택을 즐겨 보세요.">
    <meta property="og:image" content="../../content/images/ogimage.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">

    <!-- twitter meta tag -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta property="twitter:title" content="갤럭시 Z시리즈 구매 대상 우주패스 이벤트">
    <meta property="twitter:description" content="갤럭시 Z 폴드3, Z 플립3 구매하고 다양한 구독 혜택을 즐겨 보세요.">
    <meta property="twitter:image" content="../../content/images/ogimage.png">

    <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">
    <!-- Chrome, Safari, IE (.ico) -->
    <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico"> <!-- Firefox, Opera (.png) -->

    <link rel="stylesheet" href="../../content/styles/common.css">
    <link rel="stylesheet" href="../../content/styles/privacy.css">
    <link rel="stylesheet" href="../../content/styles/style.css">
</head>

<body class="bg-puple2">
    <header class="header">
        <div class="wrap1100">
            <h1 class="title-logo">
                <img src="../../content/images/header-image.png"
                    alt="선착순 5만명 우주패스 ALL 2개월 무료! / Galaxy Z Fold3, Z Flip3를 구매하신 고객이 / 우주패스all을 가입하시면 2개월 무료 혜택을 드립니다.">
            </h1>
            <!-- //title-logo -->
        </div>
        <!-- //wrap1100 -->
    </header>
    <!-- //header -->
    <main>
        <div class="wrap1100">
            <section class="section01">
                <h2><img src="../../content/images/cont-image-01.png" alt="기간 / 대상 / 당첨자 발표 / 신청방법"></h2>
            </section><!-- //section01 -->
            <section class="section01">
                <h2><img src="../../content/images/cont-image-02.png" alt="쿠폰등록방법"></h2>
            </section><!-- //section01 -->
            <section class="section01">
                <h2><img src="../../content/images/cont-image-03.png" alt="우주패스 ALL 이란?"></h2>
            </section><!-- //section01 -->
            <section class="section01">
                <h2><img src="../../content/images/cont-image-04.png" alt="유의사항"></h2>
            </section><!-- //section01 -->
            <section class="section01">
                <h2><a href="https://m-sktuniverse.tworld.co.kr/product/view?prodId=NM00000066" target="_blank"
                        title="자세히 보러가기 (새창)"><img src="../../content/images/banner-image.png"
                            alt="우주패스 all 더 궁금하면, 지금 바로 확인하세요!"></a>
                </h2>
            </section><!-- //section01 -->
            <div class="section02">
                <form>
                    <div class="box1 bg-puple flex-box flex-col">
                        <!-- 21 08 31 네이블 수정 제거 -->
                        <!-- <h3 class="title">개인정보 수집·이용 동의서 (갤럭시 Z 시리즈 구매 대상 우주패스 이벤트용)</h3>
                        <p class="box1-text pb30">
                            삼성전자 주식회사(이하 ‘회사’라 합니다)는 이용자로부터 아래와 같은 개인정보를 수집하고 있습니다.
                            개인정보 처리에 대한 상세한 사항은 갤럭시 Z 시리즈 구매 대상 우주패스 이벤트 홈페이지(https://zseries-event.com/)에 공개한 개인정보처리방침을
                            참조하십시오. 다만, 본 동의서 내용과 상충되는 부분은 본 동의서의 내용이 우선합니다.
                        </p> -->
                        <p class="sub-title pb30">개인정보 수집∙이용 동의 <span>(필수)</span></p>
                        <div class="text-box">
                            <!-- 21 08 31 네이블 수정 fs28 삭제 -->
                            <p class="p20 fw400">※ 귀하께서는 필수항목 수집·이용에 대한 동의를 거부하실 수 있으나, 이는 서비스 제공에 필수적으로 제공되어야 하는
                                정보이므로, 동의를 거부하실 경우 이벤트 참여를 하실 수 없습니다.</p>
                            <table class="form-terms-tbl fs16">
                                <colgroup>
                                    <col class="col33">
                                    <col class="col33">
                                    <col class="col33">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="fw700">수집항목</th>
                                        <th class="fw700">수집 목적</th>
                                        <th class="fw700">보유 기간</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt-cnt">성명, 휴대전화번호, 생년월일</td>
                                        <td class="txt-lt fc-blue fw700">
                                            - 본인 확인<br>
                                            - 단말 개통여부 확인 및 혜택 제공<br>
                                            - 혜택 제공 및 안내를 위한 문자(MMS 등) 발송
                                        </td>
                                        <td class="fc-blue fw700">이벤트 종료 후
                                            3개월까지
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //text-box -->
                        <div class="box-check">
                            <input type="checkbox" id="check1_1"><label for="check1_1"><span><span class="mb_break">위
                                        개인정보 수집∙이용에</span>
                                    동의합니다(필수)
                                    동의함</span></label>
                        </div>
                        <div class="box-check">
                            <input type="checkbox" id="check1_2"><label for="check1_2"><span>만 14세
                                    이상입니다.(필수)</span></label>
                        </div>
                        <p class="sub-title pt50 pb30">개인정보 처리 업무 위탁 고지</p>
                        <div class="text-box type2">
                            <p class="pt10">회사는 개인정보 처리 업무를 아래와 같이 외부 전문업체에 위탁하여 처리하고 있습니다.
                            </p>
                            <table class="form-terms-tbl fs16">
                                <colgroup>
                                    <col class="col50">
                                    <col class="col50">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="fw700">수탁업체의 명칭</th>
                                        <th class="fw700">위탁하는 업무의 내용</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt-cnt">㈜대학내일 및 협력사 [ SK텔레콤㈜, ㈜버킷스튜디오 ]</td>
                                        <td class="txt-lt">
                                            □ 단말 개통여부 확인 및 혜택 제공 (SK텔레콤㈜)<br>
                                            □ 이벤트 웹페이지 제작/관리 (㈜대학내일)<br>
                                            □ 고객 DB 관리 (㈜대학내일)<br>
                                            □ 문자메시지(MMS 등) 발송 (㈜버킷스튜디오)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //text-box -->
                    </div>
                    <div class="box2">
                        <ul class="flex-box flex-col">
                            <li>
                                <label>이름</label><input type="text">
                            </li>
                            <li>
                                <label>생년월일</label><input type="text" placeholder="YYYYMMDD로 입력해주세요.">
                            </li>
                            <li>
                                <label>휴대폰 번호</label><input type="tel" placeholder="숫자로 입력해 주세요.">
                                <button>인증번호 받기</button>
                            </li>
                            <li>
                                <label>인증번호</label><input type="text" placeholder="숫자로 입력해 주세요.">
                                <button>확인</button>
                            </li>
                        </ul>
                        <p class="mark-box"><span class="mark">*</span>Galaxy Z Fold3, Z Flip3 구매 및 개통한 휴대전화 번호를
                            입력해주세요.<br>
                            개통 확인이 어려울 경우 혜택을 받을 수 없습니다.
                        </p>
                    </div>
                    <div class="btns bg-puple flex-box flex-col txt-cnt">
                        <span>모든 내용을 확인하였습니다.</span>
                        <a href="javascript:void(0);" class="join-btn bg-yel mb35" title="쿠폰번호 신청하기">쿠폰번호 신청하기</a>
                        <a href="https://m-sktuniverse.tworld.co.kr/product/view?prodId=NM00000066"
                            class="join-btn bg-yel" title="쿠폰번호 등록하러 가기" target="_blank">쿠폰번호 등록하기</a>
                    </div>
                </form>
            </div>
            <!-- //section02 -->
        </div>
        <!-- //wrap1100 -->
    </main>
    <!-- //main -->
    <footer class="footer">
        <div class="wrap1100 bg-puple flex-box flex-align__cnt flex-spc__btw">
            <p>
                Copyright © 1995-2021 Samsung. All Rights Reserved.
            </p>
            <a href="privacy.html"><span>개인정보처리방침</span></a>
        </div>
    </footer>
</body>

</html>